In [9]:
# read a file
def readfile(filename):
    with open (filename,"r") as f:
        if f.mode =="r":
            x = f.read()
            print(x)
readfile("text.txt")

welcome worldwelcome worldwelcome worldwelcome worldwelcome worldwelcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world
welcome world

In [7]:
# word count
def wordcount(filename):
    with open(filename,"r") as f:
        if f.mode =="r":
            x =f. read()
            l = x.split()
        return len(l)
wordcount("text.txt")

39

In [17]:
# spoecfic word count
def specific(filename,world):
    with open(filename,"r") as f:
        if f.mode =="r":
            x =f. read()
            l = x.split()
        return l.count(world)
specific("text.txt","line")

0

In [19]:
#count characters
def char(filename):
    with open(filename,"r") as f:
        if f.mode =="r":
            x =f. read()
            l = list(x)
        return len(l)
char("text.txt")

304

In [20]:
# count lines
def countline(filename):
    with open(filename,"r") as f:
        if f.mode =="r":
            x =f. read()
            l = x.split("\n")
        return len(l)
countline("text.txt")

19

# string slicing

In [21]:
s =  "python programming"
print(s,type(s))

python programming <class 'str'>

In [28]:
# access
print(s[0])
print(s[-1])
print(s[1])
print(s[0:7])

p
g
y
python

In [30]:
# want rto print string
print(s[0:1])
print(s[0:10])

p
python pro

In [31]:
# reverse
print(s[::-1])
print(s[-1::-1])

gnimmargorp nohtyp
gnimmargorp nohtyp

In [34]:
def reverse(n):
    return n[::-1]
reverse("pyhton programming")

'gnimmargorp nothyp'

# ascii system
-  A-Z  =65-90
-  a-z  =97-122
-  0-9   =48-57
-  space =32

In [37]:
s = "y"
s1= "a"
print(s,ord(s),s1,ord(s1))

y 121 a 97

In [7]:
#A-Z
for i in range(65,91):
    print(chr(i),end =" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [8]:
# a-z
for i in range(97,123):
    print(chr(i),end =" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [9]:
# 0-9
for i in range(48,58):
    print(chr(i),end =" ")

0 1 2 3 4 5 6 7 8 9

In [13]:
# palindrome or not
def palindrome(s):
    if s ==s[::-1]:
        return True
    return False
palindrome("ram")

False

In [14]:
palindrome("eye")

True

In [15]:
palindrome("mumbai")

False

In [17]:
# print upper  case letters
def upper(x):
    for i in range(len(x)):
        if ord(x[i])>65 and ord(x[i])<91:
            print(x[i],end = " ")
upper("Ram")

R

In [20]:
def lower(x):
    for i in range(len(x)):
        if ord(x[i])>97 and ord(x[i])<123:
            print(x[i],end = " ")
lower("RAm")

m

In [21]:
def digit(x):
    for i in range(len(x)):
        if ord(x[i])>48 and ord(x[i])<58:
            print(x[i],end = " ")
digit("Ram214651")

2 1 4 6 5 1

In [33]:
def upperlower(x):
    s1 = " "
    for i in range(len(x)):
        if ord(x[i])>97 and ord(x[i])<123:
            s1 += chr(ord(x[i])-32)
        elif ord(x[i])>65 and ord(x[i])<91:
             s1+= chr(ord(x[i])+32)
    return s1
upperlower("PyThon")

' pYtHON'

In [45]:
# INPUT :"P1Y2U3I4"
#OUTPUT :10
def sum(s):
    sum = 0
    for i in range(len(s)):
        if ord(s[i])>=48 and ord(s[i])<=57:
            sum +=ord(s[i])-48
    return sum
sum("p1y2u3i4")

10